@import "../default/variables";
@import "../default/mixins";

.call-to-action {
  position: relative;
  font-size: $font_size_5;
  background-color: $color_4;
  color: $color_2;

  &__text {
    @include text-highlight;

    line-height: $line_height_4;
  }

  &__button {
    @include text-highlight;

    padding: {
      top: $distance_2;
      right: $distance_3;
      left: $distance_3;
    }

    padding-bottom: $distance_2 - 3px;
    border-bottom: 3px solid $color_10;
    background-color: $color_1;
    color: $color_2;
    font-size: $font_size_4;

    &:hover {
      background-color: darken($color_1, 15%);
    }
  }
}

//-----------------style for 320 x 850px---------------------------

@media only screen and (max-width: $media_width_desktop - 1) {
  .call-to-action {
    padding: $distance_3 $distance_2;
    text-align: center;

    &__button {
      margin-top: 30px;
    }
  }
}

//-----------------style for 851px and more---------------------------

@media only screen and (min-width: $media_width_desktop) {
  .call-to-action {
    padding: $distance_3 $distance_4;

    &__text {
      max-width: 70%;
      display: inline-block;
      vertical-align: middle;
    }

    &__button {
      height: 60px;
      display: inline-block;
      position: absolute;
      top: 0;
      right: $distance_4;
      bottom: 0;
      margin: auto;
    }
  }
}
