@import "../default/variables";

.car-logos-slider {
  padding: {
    top: $distance_1;
    bottom: $distance_1;
  };

  position: relative;

  &__logos-wrap {
    overflow: hidden;
  }

  &__logos {
    white-space: nowrap;
  }

  &__logo {
    padding-right: $distance_1;
    vertical-align: middle;
  }
}

//-----------------style for 320 x 850px---------------------------

@media only screen and (max-width: $media_width_desktop - 1) {
  .car-logos-slider {
    &__logos {
      padding: {
        left: $distance_1;
      };

      overflow: scroll;
    }

    &__arrow-wrap {
      display: none;
    }
  }
}

//-----------------style for 851px and more---------------------------

@media only screen and (min-width: $media_width_desktop) {
  .car-logos-slider {
    padding: {
      right: $distance_4;
      left: $distance_4;
    };

    &__logos {
      transition: margin-left 200ms;
      display: inline-block;
    }

    &__arrow-wrap {
      display: block;
    }

    &__arrow {
      position: absolute;
      top: 15px;
    }

    &__arrow--left {
      left: 20px;
    }

    &__arrow--right {
      right: 20px;
    }
  }
}
