@import "../default/variables";

.main-container {
  color: $color_1;
  font-size: $font_size_2;
  line-height: $line_height_4;

  &__title {
    padding-bottom: $distance_3;
    color: $color_4;
    font-size: $font_size_6;
    text-align: center;
  }

  &__list {
    padding: 0 $distance_3;
  }

  &__item {
    padding-left: $distance_2;
    background: $bullet;
    background-repeat: no-repeat;
    background-position: center left;
  }

  &__text {
    text-align: center;

    strong {
      font-weight: bold;
    }
  }

  &__separation-symbol {
    width: 100%;
    height: 1px;
    margin: $distance_3 0;
    position: relative;
    background-color: $color_8;

    &-icon {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $color_2;
    }
  }

  &__picture {
    width: 100%;
    padding-top: $distance_3;

    &--small {
      width: auto;
      height: 200px;
      padding-top: 0;
    }
  }
}

//-----------------style for 320 x 850px---------------------------

@media only screen and (max-width: $media_width_desktop - 1) {
  .main-container {
    padding: $distance_3 $distance_2;

    &__picture {
      &--small {
        display: block;
        margin: auto;
        padding-bottom: 30px;
      }
    }
  }
}

//-----------------style for 851px and more---------------------------

@media only screen and (min-width: $media_width_desktop) {
  .main-container {
    max-width: 650px;
    padding: $distance_3 0;
    margin: auto;

    &__picture {
      &--small {
        padding: 0 $distance_2;
      }
    }

    &__list {
      display: inline-block;
    }
  }
}
