@import "../default/variables";
@import "../default/mixins";
@import "header-navigation";

.header {
  @include text-highlight;

  position: relative;
  color: $color_2;

  &__picture {
    width: 100%;
  }

  &__logo {
    position: absolute;
  }

  &__text {
    line-height: $line_height_2;
  }
}

//-----------------style for 320 x 850px---------------------------

@media only screen and (max-width: $media_width_desktop - 1) {
  .header {
    background-color: $color_6;

    &__logo {
      height: 20px;
      top: $distance_1;
      left: $distance_1;
    }

    &__text {
      padding: $distance_2;
      font-size: $font_size_1;
      text-align: center;
    }
  }
}

//-----------------style for 851px and more---------------------------

@media only screen and (min-width: $media_width_desktop) {
  .header {
    &__logo {
      height: 60px;
      top: $distance_3;
      left: $distance_4;
    }

    &__text {
      max-width: 400px;
      position: absolute;
      bottom: $distance_2;
      right: 0;
      margin-right: $distance_4;
      font-size: $font_size_3;
      text-align: right;
    }
  }
}
