@import "../default/variables";

.header-navigation {
  &__exit-menu-button {
    display: none;
  }

  &__sub-menu {
    display: none;
  }

  &__item:hover &__sub-menu {
    display: block;
  }
}

//-----------------style for 320 x 850px---------------------------

@media only screen and (max-width: $media_width_desktop - 1) {
  .header-navigation {
    &__open-menu-button {
      width: $distance_2;
      height: $distance_2;
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
      background-image: $icon_menu;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &__wrap-menu {
      width: 100%;
      height: 100%;
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      background-color: $color_6;
      overflow: scroll;
      z-index: 1000;

      &--active {
        display: block;
      }
    }

    &__exit-menu-button {
      height: 30px;
      margin-top: 30px;
      margin-right: 30px;
      display: block;
      background-image: $icon_exit;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: right;
    }

    &__menu {
      padding: 30px;
      font-size: $font_size_6;
    }

    &__item {
      > a {
        padding: 20px 0;
        display: block;
      }

      border-bottom: 1px solid $color_2;

      &:first-child {
        > a {
          padding-top: 0;
        }
      }

      &:hover {
        color: $color_4;
        border-bottom-color: $color_4;
      }
    }

    &__sub-menu {
      font-size: $font_size_4;

      > a {
        display: block;
        padding: $distance_2;
      }
    }

    &__sub-item {
      line-height: $line_height_3;
      color: $color_2;

      > a {
        display: block;
        padding: $distance_1;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }

      &:hover {
        color: $color_4;
      }
    }
  }
}

//-----------------style for 851px and more---------------------------

@media only screen and (min-width: $media_width_desktop) {
  .header-navigation {
    position: absolute;
    top: $distance_3;
    right: $distance_4;
    font-size: $font_size_2;

    &__item {
      position: relative;
      display: inline-block;
      float: left;
      border-bottom: 1px solid $color_2;

      > a {
        display: block;
        padding: 0 $distance_0 $distance_2 $distance_0;
      }

      &:hover {
        border-bottom: 2px solid $color_4;

        > a {
          padding-bottom: $distance_2 - 1;
        }
      }

      &--sub-menu {
        &:hover {
          &::before {
            content: '';
            position: absolute;
            left: 50%;
            margin-left: -5px;
            bottom: -8px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 8px solid $color_4;
          }
        }
      }
    }

    &__sub-menu {
      width: 220px;
      position: absolute;
      left: 50%;
      margin-left: -110px;
      padding-top: 15px;
      background-color: transparent;
      z-index: 1000;
    }

    &__sub-item {
      display: block;
      background-color: $color_2;
      color: $color_1;
      line-height: $line_height_1;
      border-bottom: 1px solid $color_9;

      > a {
        display: block;
        padding: $distance_1 $distance_0;
      }

      &:hover {
        background-color: $color_4;
        color: $color_2;

        > a {
          //padding-bottom: $distance_1;
        }
      }

      &:last-child {
        border-bottom: 2px solid $color_4;
      }
    }
  }
}
