@import "../default/variables";

.footer-contact {
  margin-bottom: $distance_2;

  &:last-child {
    margin-bottom: 0;
  }

  &--small {
    font-size: $font_size_1;
  }

  &__title {
    color: $color_4;
    font-size: $font_size_3;
  }

  &__item {
    margin-top: $distance_2;
    padding-left: $distance_3;
    color: $color_2;
    text-decoration: none;

    a {
      color: $color_2;
    }

    &--position {
      background: $icon_position;
      background-repeat: no-repeat;
      background-position: top left;
      background-position-y: 5px;
    }

    &--mail {
      background: $icon_mail;
      background-repeat: no-repeat;
      background-position: center left;
    }

    &--phone {
      background: $icon_phone;
      background-repeat: no-repeat;
      background-position: center left;
    }

    &--highlighted {
      a {
        color: $color_4;
        text-decoration: underline;
      }
    }
  }

  &__open-hours {
    max-width: 300px;
    width: 100%;
  }
}

