@import "../default/variables";

.footer-form {
  text-align: right;
  width: 100%;

  &__input {
    width: 100%;
    height: 36px;
    margin-bottom: $distance_1;
    padding: $distance_1;
    background-color: $color_5;
    color: $color_6;
    font-size: $font_size_1;

    &:focus {
      outline-color: $color_4;
    }

    &::placeholder {
      color: $color_6;
      opacity: 1;
    }
  }

  &__textarea {

    @extend .footer-form__input;

    padding: $distance_1;
    height: 130px;
    font-family: $font_family;
  }

  &__button {
    padding: {
      top: $distance_1;
      right: $distance_3;
      left: $distance_3;
    }

    padding-bottom: $distance_1 - 3px;
    border-bottom: 3px solid $color_7;
    font-size: $font_size_2;
    background-color: $color_4;
    color: $color_2;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: darken($color_4, 15%);
    }
  }
}
