@import "../default/variables";

.footer-section {
  line-height: $line_height_1;
  font-size: $font_size_2;

  &__box {
    width: 100%;
    margin-top: $distance_3;
    display: inline-block;
  }
}

//-----------------style for 851px and more---------------------------

@media only screen and (min-width: $media_width_desktop) {
  .footer-section {
    float: left;
    padding-right: $distance_2;
  }

  .footer-section:last-child {
    padding-right: 0;
  }
}
