@import "../default/variables";
@import "footer-sections";
@import "footer-title";
@import "footer-contact";
@import "footer-list";
@import "footer-form";
@import "footer-copyright";

.footer {
  background-color: $color_6;
  color: $color_2;
}

//-----------------style for 320 x 850px---------------------------

@media only screen and (max-width: $media_width_desktop - 1) {
  .footer {
    &__container {
      padding: 0 $distance_2 $distance_3 $distance_2;
    }
  }
}

//-----------------style for 851px and more---------------------------

@media only screen and (min-width: $media_width_desktop) {
  .footer {
    &__container {
      padding: 0 $distance_4 $distance_3 $distance_4;
    }
  }
}
