@import "../default/variables";
@import "../default/mixins";

.footer-title {
  @include text-highlight;

  padding-top: $distance_3;
  font-size: $font_size_4;

  &__underline {
    width: $distance_2;
    border: 1px solid $color_4;
  }
}
