@import "../default/variables";

.footer-list {

  &__item {
    padding-left: $distance_2;
    background: $bullet;
    background-repeat: no-repeat;
    background-position: center left;
  }

  &__item--highlighted {
    color: $color_4;
    text-decoration: underline;
  }
}
