@import "../default/variables";

.footer-copyright {
  background-color: $color_4;
  font-size: $font_size_1;
  line-height: $line_height_1;

  &__link {
    &:hover {
      color: darken($color_2, 20%);
    }
  }
}

//-----------------style for 320 x 850px---------------------------

@media only screen and (max-width: $media_width_desktop - 1) {
  .footer-copyright {
    padding: $distance_1;
    text-align: center;

    &__item {
      padding-top: $distance_1;

      &:first-child {
        padding-top: 0;
      }
    }
  }
}

//-----------------style for 851px and more---------------------------

@media only screen and (min-width: $media_width_desktop) {
  .footer-copyright {
    padding: 0 $distance_4;
    line-height: $distance_4;

    &__item {
      display: inline-block;
    }

    &__item--align-right {
      float: right;
    }
  }
}
