.row {
  display: table;
}

.col-3 {
  float: left;

  @media only screen and (max-width: $media_width_desktop - 1) {
    & {
      width: 100%;
    }
  }

  @media only screen and (min-width: $media_width_desktop){
    & {
      width: (100%/3);
    }
  }
}
