//varibles for pictures

$bullet: url("../../images/icons/bullet.svg");
$icon_menu: url("../../images/icons/menu.svg");
$icon_exit: url("../../images/icons/exit.svg");
$icon_position: url("../../images/icons/position.svg");
$icon_mail: url("../../images/icons/mail.svg");
$icon_phone: url("../../images/icons/phone.svg");


//varibles for font-family

$font_family: 'Ubuntu', sans-serif;

//varibles for font-size

$font_size_1: 14px;
$font_size_2: 16px;
$font_size_3: 18px;
$font_size_4: 20px;
$font_size_5: 22px;
$font_size_6: 24px;

//variables for font-weight

$font-weight_1: 500;

//variables for colors

$color_1: #34495E;
$color_2: #FFF;
$color_3: #FEFEFE;
$color_4: #FF5627;
$color_5: #7F8C8D;
$color_6: #27313A;
$color_7: #AF2A05;
$color_8: #BDC3C7;
$color_9: #C8CDD0;
$color_10: #6a829b;

//variables for distance

$distance_0: 10px;
$distance_1: 15px;
$distance_2: 20px;
$distance_3: 30px;
$distance_4: 70px;

//varibles for media
$media_width_min: 320px;
$media_width_desktop: 850px;

//variables for line-height

$line_height_1: 22px;
$line_height_2: 24px;
$line_height_3: 26px;
$line_height_4: 30px;
