@import "../default/variables";

.wrap {
  min-width: $media_width_min;
  background-image: url("../../images/pattern.png");

  &__container {
    max-width: 1100px;
    margin: auto;
    background-color: $color_2;
  }
}
